extends ../layouts/main

block sidebar
  include ../partials/side-nav-links
  include ../partials/side-nav-tags

block body
  p.lead
    | A site about some stuff. We talk about what we do in a brief few words.
    | This should match the description of the website in the 
    code &lt;meta&gt;
    |  code.
  p.lead
    | Here's another paragraph for good measure.

  h3 Latest Posts
  .post-list: include ../posts/list