extends ../layouts/main

block sidebar
  include ../partials/side-nav-links
  include ../partials/side-nav-tags

block body
  p.lead
    | A site about some stuff. We talk about what we do in a brief few words.
    | This should match the description of the website in the 
    code &lt;meta&gt;
    |  code.
  p.lead
    | Here's another paragraph for good measure.

  h3 Latest Posts
  <!--TODO: SHOULD THIS INHERIT/SHARE FROM THE POSTS INDEX???-->
  if (posts.length)
    each post in posts
      .row
        .span8
          h3.headline
            a(href='/posts/#{post.post_id}')= post.post_title
            small.pull-right.bottom
              span.badge.badge-info
                i.icon-white.icon-comment
                |  5
          h5.byline by 
            a(href='/users/#{post.user_id}')= post.user_displayName
            span.pull-right: small #{post.post_created.toUTCString()}