extends ../layouts/main
block body

  if (posts.length)
    each post in posts
      .row
        .span8
          h3.headline
            a(href='/posts/#{post.post_id}')= post.post_title
            small.pull-right.bottom
              span.badge
                i.icon-white.icon-comment
                |&nbsp;5
          h5 by&nbsp;
            a(href='/users/#{post.user_id}')= post.user_displayName
            span.pull-right
              small #{post.post_created.toUTCString()}
          div!= post.post_description