extends ../layout
block body
  .row
    .span12
      h1 skeletor
        small.pull-right feelin' fine.
    
  hr

  .row
    .span8
      .row
        .span8
          h3 
            a and then something happened
          h4 and it were good.
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et semper 
            enim. Sed vel porta mauris, a sodales tortor. Donec accumsan cursus 
            nulla, vitae aliquam dolor semper id. In eu elementum erat, quis commodo 
            odio. Nam consequat scelerisque euismod. Sed ut blandit sem. Aliquam 
            vestibulum pharetra nunc eu sodales. Suspendisse lorem arcu, dictum eu 
            lorem sit amet, tempor luctus velit. Proin condimentum est in egestas 
            mollis.
          
      .row
        .span8
          h3 
            a then something else happened
          h4 and it were better
          p.
            Praesent nunc augue, malesuada ac tellus quis, aliquam adipiscing mi. 
            Maecenas a turpis vitae erat hendrerit sodales. Donec interdum ultricies 
            facilisis. Donec ut leo sagittis, sagittis lectus eget, lobortis orci. 
            Vivamus varius velit ut vehicula semper. Duis tincidunt ipsum mi, ut 
            hendrerit arcu blandit eget. Integer rhoncus nisl sapien, vel venenatis 
            diam cursus quis. Integer quis cursus lacus, at aliquet dolor. Quisque 
            nibh lectus, mollis eu lobortis a, elementum sed mi. Aenean sagittis sem 
            sed nibh euismod, in consectetur purus molestie. Vivamus pharetra 
            scelerisque vestibulum. Sed diam nunc, viverra in blandit ut, hendrerit 
            ac nulla. Nulla sit amet scelerisque justo. Ut pellentesque semper 
            accumsan.

      .row
        .span8
          h3
            a more stuff happened
          h4 and it were okay
          p.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus 
            luctus purus at ipsum congue, non condimentum nulla mattis. Sed id 
            turpis nec diam hendrerit pulvinar ut dapibus dui. Nunc mollis posuere 
            scelerisque. Nunc et consectetur lorem. Pellentesque eget laoreet diam, 
            eu fringilla tortor. Maecenas non dignissim sem. Morbi ultrices 
            imperdiet auctor. Donec malesuada vulputate porttitor. Pellentesque 
            porttitor est nibh, vitae pharetra purus blandit vitae. Etiam blandit 
            nisi sed urna vehicula, quis ultrices risus feugiat. Aenean viverra orci 
            et lacus accumsan tempus. Integer commodo mi et orci lacinia sodales. 
            Vivamus libero tellus, imperdiet vitae dui suscipit, lobortis elementum 
            ipsum. Pellentesque congue vestibulum facilisis.

      .row
        .span8
          h3 
            a older stuff happened
          h4 and it were before the new stuff
          p.
            Aenean egestas neque aliquet ultricies rutrum. In posuere massa ut velit 
            luctus vehicula. Curabitur feugiat, tellus quis posuere pellentesque, 
            elit est pulvinar ipsum, non aliquet mauris odio vitae ipsum. Aenean ac 
            urna imperdiet, rutrum enim nec, mollis est. Nam vitae scelerisque 
            turpis. Pellentesque quis arcu porta, ullamcorper libero quis, 
            scelerisque dolor. Nunc id eros sed velit imperdiet malesuada. 
            Vestibulum tincidunt magna augue, ac euismod nunc euismod ac.

    .span4
      .row
        .span4
          .well
            ul.nav.nav-list
              li.nav-header Navigational Components
              li 
                a Widgets
              li 
                a Cogs
              li 
                a Gears
              li.nav-header More Navigational Components
              li 
                a Wood
              li 
                a Iron
              li 
                a Steel