extends ../layout
block body

  h2 Home

  if (posts.length)
    each post in posts
      .row
        .span8
          h3 
            a(href='/posts/#{post.post_id}')= post.post_title
          h5 by
            a(href='/users/#{post.user_id}')= post.user_displayName
            span.pull-right
             small #{post.post_created.toUTCString()}
          div= post.body