/**
 * Scheme Generated:
 * https://kuler.adobe.com/Voodoo-Pets-color-theme-2762877/
 */

body {
  color: #202724;
  font-family: 'Open Sans', sans-serif;
}

.navbar .nav > li > a,
.navbar-link {
  color: #8B876F;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, .3);
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  color: #8B876F;
  text-decoration: none;
}

.navbar .navbar-inner .nav > .active > a,
.navbar .navbar-inner .nav > .active > a:hover,
.navbar .navbar-inner .nav > .active > a:focus {
  background-color: inherit;
  box-shadow: none;
  color: #8B876F;
  text-decoration: none;
}

.caret,
a b.caret,
a b.caret:hover {
  border-top-color: #8B876F;
  color: #8B876F;
}

th { text-align: left; }

p { text-align: justify; }

a,
a:hover {
  color: #207B56;
}

h1 a,
h1 a:hover,
h2 a,
h2 a:hover,
h3 a,
h3 a:hover {
  color: #8B876F;
}

h1,
h2,
h3,
h4,
h5 {
  color: #5C5747;
}

.page-header { border-bottom: 1px #EEEEEE solid; }

.page-header h1 {
  color: #DD4225;
  position: relative;
  text-shadow: 2px 2px 2px rgba(150, 150, 150, .3);
}

/**
 * This fix ensures that the smaller text sits on the baseline next to the
 * header.
 */
.page-header h1 small { line-height: 2; }

h3.headline a,
h3.headline a:hover {
  color: #207B56;
}

h5.byline a,
h5.byline a:hover {
  color: #8B876F;
}

.footer {
  border-top: 1px solid #EEEEEE;
  margin-top: 10px;
  padding-top: 15px;
}

.footer a,
.footer a:hover {
  color: #DD4225;
}

.alert:empty,
.breadcrumb:empty {
  display: none;
}

.page-header h1 small { color: #DD4225; }

small.bottom {
  line-height: inherit;
  vertical-align: bottom;
}

td {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/** Make sure the smaller text wraps when the screen is smaller than 180px */
@media (max-width: 479px) {
  .page-header h1 small.pull-right { float: none; }
}

/**
 * This makes the admin panels wrap even when the heights differ. It
 * is unneccesary under 768px because "span4" begins to stack.
 */
@media (min-width: 768px) {
  .span4.admin-panel { height: 190px; }
}