.row
  .span4
    ul.unstyled
      li: a(href='#') Home
      li: a(href='#') Posts
  .span4
    ul.unstyled
      li: a(href='#') Users
      li: a(href='#') Projects
  .span4
    ul.unstyled
      li: a(href='#') About
      li: a(href='#') Sitemap
.row
  .span12
    p.copyright &copy; Skeletor Incorporated 2013