.navbar.navbar-fixed-top
  .navbar-inner
    .container
      button(type="button",data-toggle="collapse",
          data-target=".nav-collapse").btn.btn-navbar
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/") Skeletor
      .nav-collapse.collapse
        ul.nav
          li: a(href="/posts") posts
          li: a(href="/about") about
          li: a(href="/contact") contact
          li: a(href="/admin") admin
        ul.nav.pull-right
          if user
            li.dropdown
              a(class='dropdown', data-toggle='dropdown', href='#')
                = user.user_displayName
                |&nbsp;
                b.caret
              ul.dropdown-menu
                li: a(href="/account") my account
                li: a(href="/logout") logout
          else
            li: a(href="/auth/google").navbar-link login