extends ../../layouts/admin

append breadcrumbs
  li
    a(href="/admin/posts") posts administration
    span.divider /
  li.active= title

block body
  form(action='/admin/posts/#{post.post_slug}', method='post')
    include _form

    input(type='hidden',name='user_id',value=post.post_user_id)
    input(type='hidden',name='_csrf',value=token)
    input(type='hidden',name='_method',value='put')

    .form-actions
      .btn-group
        button.btn.btn-primary
          i.icon-ok.icon-white
          |&nbsp;Update Post
        a.btn(href='/admin/posts') Cancel