extends ../../layouts/admin

block body
  h2 Create a New Post
    .btn-group.pull-right
      a.btn(href='/admin/posts') Posts Administration
      a.btn(href='/admin') Admin Home

  form(action='/admin/posts',method='post')
    include _form

    input(type='hidden',name='user_id',value=post.post_user_id)
    input(type='hidden',name='_csrf',value=token)
    input(type='hidden',name='_method',value='post')

    .form-actions
      button.btn.btn-primary
        i.icon-ok.icon-white
        |  Create Post
      |  or
      a.btn(href='/admin/posts') Cancel