extends ../layouts/main

block body
  h3 #{result.user.displayName}'s Profile
  table.table.table-striped.table-hover
    tr
      th Profile Photo
      td
        .col-md-4
          a.thumbnail(href='http://placehold.it/250x250/428bca/FFFFFF&text=Gravitar+Placeholder')
            img(src='http://placehold.it/250x250/428bca/FFFFFF&text=Gravitar+Placeholder',
                alt='Gravatar Image Should Go Here')
    tr
      th Member Since
      td #{DateHelper.getHumanDate(result.user.created)}