hr.clearfix

footer
  - var year = new Date().getFullYear()
  p.copyright &copy; {{ appName }} 2013 - #{year}.

script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js")
script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js")
script(src="/js/application.js")
