extends ../layout
block body

  h2 Posts

  if (posts.length)
    each post in posts
      .row
        .span8
          h3 
            a(href='/posts/#{post.id}/')= post.title
          h5 by author number #{post.author_id}
            span.pull-right
             small #{post.created.toUTCString()}
          div= post.body