extends ../layout
block body

  h2= post.post_title

  .row
    .span8
      h5 by 
        a(href='/users/#{post.user_id}')= post.user_displayName
        span.pull-right
          small #{post.post_created.toUTCString()}
      div #{post.post_body}