extends ../../layouts/admin

append breadcrumbs
  li
    a(href="/admin/users") user administration
    span.divider /
  li.active users edit

block body
  h2 Edit User
    .btn-group.pull-right
      a.btn(href='/admin/users') Users Administration
      a.btn(href='/admin') Admin Home

  form(action='/admin/users/#{user.user_id}', method='post')
    include _form

    input(type='hidden',name='_csrf',value=token)
    input(type='hidden',name='_method',value='put')

    .form-actions
      .btn-group
        button.btn.btn-primary
          i.icon-ok.icon-white
          |&nbsp;Update User
        a.btn(href='/admin/users') Cancel