.row
  .span4
    .well
      ul.nav.nav-list
        li.nav-header Navigational Components
        li 
          a Widgets
        li 
          a Cogs
        li 
          a Gears
        li.nav-header More Navigational Components
        li 
          a Wood
        li 
          a Iron
        li 
          a Steel