doctype 5
html(lang="en")
  head
    title= title || 'site administration'
    block head
      include ../partials/head

  body
    <!--Begin Top-Nav-->
    block top-nav
      include ../partials/top-nav

    <!--Begin Content Container-->
    .container
      <!--Begin Header-->
      block header
        .row: .span12
          .page-header
            h1= title || 'site administration'
              small.pull-right Feelin' fine.

      <!--Begin Breadcrumbs-->
      ul.breadcrumb
        block breadcrumbs
          li
            a(href="/admin") admin panel
            span.divider /

      <!--Begin Alerts-->
      include ../partials/alerts

      <!--Begin Main Content-->
      .row
        .span12
          h2= title
          block body

      <!--Begin Footer-->
      block footer
        include ../partials/footer