doctype 5
html(lang="en")
  head
    title= title || 'skeletor'
    block head
      include ../partials/head

  body
    <!--Begin Top-Nav-->
    block top-nav
      include ../partials/top-nav

    <!--Begin Content Container-->
    .container#main
      <!--Begin Header-->
      block header
        .row: .span12
          .page-header
            h1= 'skeletor'
              small.pull-right Feelin' fine.

      <!--Begin Alerts-->
      include ../partials/alerts

      <!--Begin Main Content-->
      .row
        .span8
          <!--Begin Body Content-->
          h2#title= title
          block body
        .span4
          <!--Begin Sidebar-->
          p.date.text-info Date
          block sidebar
            include ../partials/side-nav-links
            include ../partials/side-nav-tags
            include ../partials/side-nav-archives

      <!--Begin Footer-->
      block footer
        include ../partials/footer