doctype 5
html(lang="en")
  head
    title title
    block head

  body
    block top-nav

    .container
      block header

      .row
        .span8
          block body
        .span4
          include ../common/date
          include ../common/archives
          include ../common/side-nav

      block footer